#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

form,
fieldset {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

input[type="text"] {
  padding: .5em;
}

button[type="submit"] {
  margin-top: 1em;
}

/* Repository page */

main#repository {
  display: flex;
  gap: 1em;
}

main#repository header,
main#repository aside {
  padding: 1em;
}

main#repository header {
  padding: 0;
  width: calc(70% - 2em);
}

main#repository aside {
  border: 1px solid white;
  border-radius: 15px;
  width: calc(30% - 30px);
}

main#repository h4 {
  margin: 0;
}

/* Search page */

td,
th {
  padding: 0.5rem 1rem;
}

tr:hover {
  background-color: slategray;
  cursor: pointer;
}

/* Components */

.loader {
  border: 24px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 1rem;
}

/* Animations */

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: animloader 1s linear infinite;
  }
}

@keyframes animloader {
  0% {
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }

  33% {
    border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
  }

  66% {
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
  }

  100% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
  }
}

/* Mobile styles */

@media (max-width: 768px) {
  main#repository {
    flex-direction: column;
  }

  main#repository header,
  main#repository aside {
    width: auto;
  }

  main#repository aside {
    display: flex;
    justify-content: space-around;
  }
}